body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
.left{
    float: left;
    margin-left:20px;
    margin-right: 100px;
}
.One{
    background-color: rgb(210, 55, 73);
            width: 170px;
            padding: 20px;
            margin:20px auto ;
}
 .padding{
            background-color: rgb(180, 71, 88);
            width: 90px;
 }
 .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .clearfix {
            display: inline-block;
        }

        /* start commented backslash hack \*/
        * html .clearfix {
            height: 1%;
        }

        .clearfix {
            display: block;
        }

        /* close commented backslash hack */